#css.grid.css
body{
    margin:5em 0;
    font-size: large;

.row,
.col-md-6,
.col-sm-1,
.col-sm-3,
.col-sm-6{
    margin:0;
    padding:0;
}
p{
    font-size: large;
}
h1{
font-size: 500px;
}

.blurb{
    padding:0 1em 0 0
}

