#landing.css body {
    margin: 5em 0;
    font-size: 1000px;

    .row,
    .col-md-6,
    .col-sm-1,
    .col-sm-3,
    .col-sm-6 {
        margin: 0;
        padding: 0;
    }

    p {
        font-size: large;
    }

    h1,
    h2,
    h3 {
        font-size: 1000px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 100;
        font-weight: lighter;
    }

    .blurb {
        padding: 0 1em 0 0
    }