body{
    font-weight: 300;
    font-size: 175px;
    font-family: 'Playfair Display', serif;
    color: #074404

}
.home img{
width: 500px;
.light {
    color:#f5edeb ;
}
.dark{
    color: #074404;

}

.split{
    background: linear-gradient(to right,
    #f5edeb 0%,
    #f5edeb 50%,
    #074404 50%,
    #074404 100%);
min-height: 100vh;
}
h1 {
    font-weight: 300;
    font-size: 175px;
    font-family: 'Playfair Display', serif;
    color: #074404
}

h2 {
    font-weight: 150;
    font-size: 100px;
    font-family: 'Playfair Display', serif;
    color: #074404
}

h3 {
    font-weight: 150;
    font-size: 50px;
    font-family: 'Playfair Display', serif;
    color: #074404;
}
h4{
    font-weight: 150;
    font-size: 50px;
    font-family: 'Playfair Display', serif;
    color: #074404;
}

