h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 30px
}
h2{
    font-family: 'Work Sans', sans-serif;
    font-size: 50px
}
body {
    font-family: 'Literata', serif;
    font-size: 25px;

}

