body {
    font-weight: 300;
    font-size: 22px;
    font-family: 'Playfair Display', serif;
    color: #074404
}

.home img {
    width: 400px;
    margin: 0;
    auto;
    display: block;

}

.home.light {
    color: #f5edeb;
    font-size: .55em;
}

.home.dark {
    color: #074404;
    font-size: .75em;
}

.light {
    color: #354541;

}

.dark {
    color: #f5edeb;
}
.split {
    background: linear-gradient(to right,
            #f5edeb 0%,
            #f5edeb 50%,
            #074404 50%,
            #074404 100%);
    min-height: 100vh;
}

/* .full{ */

.light,
.dark {
    padding: 25vh 5% 0 5%;
}
@media (max-width:576px) {}

@media (max-width:768px) {
 .split{
    background: #f5edeb;
 }
 .dark{
background-color: #354541;

 }
 .light,
.dark {
    padding: 5vh 5% 0 5%;
}
.dark{
min-height: 50vh;

}
.light{
    min-height: 50vh;
    
    }
}
@media (max-width:992px) {}

h1 {
    font-weight: 300;
    font-size: 7em;
    font-family: 'Playfair Display', serif;
    color: #074404
}

h2 {
    font-weight: 150;
    font-size: 5em;
    font-family: 'Playfair Display', serif;
    color: #074404
}

h3 {
    font-weight: 100;
    font-size: 2.0em;
    font-family: 'Playfair Display', serif;
    color: #074404;
}

h4 {
    font-weight: 150;
    font-size: 50px;
    font-family: 'Playfair Display', serif;
    color: #074404;
}

.p{
    font-weight: 150;
    font-size: 100px;
    font-family: 'Playfair Display', serif;
    color: #074404
}

a {
    font-weight: 150;
    font-size: 50px;
    font-family: 'Playfair Display', serif;
    color: #789c77
}